.container {
  width: 100%;
  padding: 0 25px;
}

.input {
  width: 100%;
  border: 2px solid var(--white);
  margin-bottom: 20px;
  padding: 10px;
  color: var(--white);
  background-color: transparent;
  transition: 0.3s;
}

.input::placeholder {
  font-family: 'Open sans', serif;
  color: var(--white);
  transition: 0.3s;
}

.input:focus {
  border-color: var(--white);
  outline: none;
  box-shadow: 0 0 10px white;
}

.input:focus.input::placeholder {
  color: var(--white);
}

.input:hover {
  box-shadow: 0 0 10px white;
}