.container {
  width: 100%;
  padding: 0 25px;
}

.button {
  width: 100%;
  border: 2px solid rgba(255,232,31, 0.2);
  padding: 2px;
  font-family: "Star Jedi";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--black);
  background-color: rgba(255,232,31, 0.8);
  cursor: pointer;
  transition: 0.3s;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255,232,31, 0.6);
}

.button:hover {
  background-color: var(--yellow);
  box-shadow: 0 0 10px rgba(255,232,31, 0.6);
}