.item:not(:last-child) {
  margin-bottom: 20px;
}

.radio {
  display: none;
}

.label {
  display: block;
  padding: 10px 0;
  border: 1px solid var(--yellow);
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.label:hover {
  border-color: var(--white);
  color: var(--white);
}

.radio:checked ~ .label {
  outline: none;
  border-color: var(--white);
  border-radius: none;
  background-color: var(--white);
  color: var(--black);
}